.devicePrice{
	display: flex;
	align-items: end;
	margin-bottom:1em;
}

@media (max-width:320px){
	.devicePrice{
		margin-bottom:0.5em;
	}
}

.deviceStockPrice{
	color: rgb(171,171,171);
	font-size: 14px;
	font-weight: 300;
	text-decoration: line-through;
}
.deviceMainPrice{
	font-size: 20px;
	font-weight: 500;
	margin: 0 8px 0 0;
}

