.myPriceInputWrapper{
	background-color: #BCC5FF;
	border-radius: 8px;
}
.myPriceInput{
	background-color: #BCC5FF;
	border: none;
	color: rgb(69, 69, 69);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	padding: 12px;
}