
.wrapper{
	color:#454545;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	gap: 8px;
	border-radius: 5px;
	position: relative;
}

@media (max-width: 580px) {
	.wrapper {
		gap: 4px;
	}
} 


.icon{
height: 1.5em;
}

@media (max-width: 350px) {
	.linkText {
	font-size: 14px;
	}
} 

.linkCounter{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #750DC5;
	color:#f6f6f6 ;
	border-radius: 50%;
	padding: 0 5px;
	font-size: 0.75em;
	
}