.devicePrice{
	margin: 0 0 16px 0;
}
.deviceStockPrice{
	color: rgb(171,171,171);
	font-size: 14px;
	font-weight: 300;
	text-decoration: line-through;
}
.deviceMainPrice{
	font-size: 20px;
	font-weight: 500;
	margin: 0 8px 0 0;
}