.text_wrapper{
	font-size: 1em;
	margin-bottom: 1em;
	text-decoration: none;
	color: rgb(12,12,12);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.typeName{
	font-weight: 600;
	font-size: 1.25em;
}
.brandName{
	font-weight: 500;
	font-size: 1.125em;
}

@media (max-width:500px){
	.typeName{
		font-weight: 600;
		font-size: 1em;
	}
	.brandName{
		font-weight: 500;
		font-size: 0.9375em;
	}
	.device__Name{
		font-size: 0.875em;
	}
}