.mySearch{
	background:rgb(222, 222, 222);
	max-width: 754px;
	display: flex;
	justify-content: start;
	flex-direction: row-reverse;
	border-radius: 8px;
	padding: 13.5px 0 13.5px 16px;
	

}
.mySearch_active{
	background:rgb(222, 222, 222);
	max-width: 754px;
	display: flex;
	justify-content: start;
	flex-direction: row-reverse;
	border-radius: 8px;
	padding: 13.5px 0 13.5px 16px;
	animation: glow 800ms ease-out 1 alternate;
	animation-fill-mode: both;
}
.myInput{
	display: flex;
	flex-grow: 1;
	background:rgb(222, 222, 222);
	border-radius: 8px;
	padding: 0 10px;
	border: 0; 
}
.myInput:focus{
	outline: none;
	

}
.myIcon{
	width: 16px;
	height: 16px;
	
}




@keyframes glow {
	0% {
	  box-shadow: 0 0 5px rgba(38, 13, 193,.2);
	}	
	100% {
	  box-shadow: 0 0 20px rgba(89, 0, 111,.8);
	}
}